<link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<body data-spy="scroll" data-target="#navbar">
<div class="background-image">
  <nav class="navbar navbar-default " id="navbar">
    <div class="container">
      <button type="button" class="btn btn-primary"><a href="#javascript-trigger">Portfolio</a></button>
      <button type="button" class="btn btn-warning"><a href="#javascript-trigger2">All My Works</a></button>
      <button type="button" class="btn btn-success"><a href="#javascript-trigger3">My Contact Info</a></button>
    </div>
  </nav>
  <div class="whatever">
    <h1 class="header">Ramble LLC</h1>


    <h2 class="p">Software Solutions</h2></div>
  <br>
  <div class="whatever"><h3 class="header">Kevin Behlmaier</h3></div>
  <hr/>
  <div class="row">
    <div class="col-lg-7" id="javascript-trigger">
      <h3 class="p paragraph1" style="font-family: 'Dancing Script', cursive;">I am a recent
        addition to the world of coding, but I feel as though my drive is needed in this industry. I am currently
        learning HTML and CSS while trying to incorporate Bootstrap. I have only a very small group of coders I know and
        would love to get to know more and share new ideas and experiences.</h3>

    </div>
    <div class="col-md-4">
      <div class="frogman">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAZmAAAAJDI2YWRhZTkxLTEwMzItNDdmZS05MDcyLTAxMzgyMmYyOWQ3Zg.jpg" width="200" height="200" alt="Kevin Behlmaier">
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="whatgives" id="javascript-trigger2"><h3 class="header portfolio">Kevin Behlmaier's Portfolio</h3>
    <br>
    <h3 class="p parsnip">Below is a list of recent works I have done.</h3>
    <br>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4" id="tl">
        <div class="thumbnail">
          <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/icons-390.jpg">
          <div class="caption">
            <h3>Coming Soon....</h3>

            <p><a href="#" class="btn btn-primary" role="button">Button</a>
              </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="thumbnail">
          <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/icons-390.jpg">
          <div class="caption">
            <h3>Coming Soon....</h3>

            <p><a href="#" class="btn btn-primary" role="button">Button</a>
              </p>
          </div>
        </div>
      </div>
    <div class="col-sm-4 col-md-4 col-lg-4" id="tr">
      <div class="thumbnail">
        <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/icons-390.jpg">
        <div class="caption">
          <h3>Coming Soon....</h3>

          <p><a href="#" class="btn btn-primary" role="button">Button</a>
            </p>
        </div>
      </div>
    </div>
  </div>
<br>
    <footer id="javascript-trigger3">
      <br>
      <p style="font-family: 'Arial Rounded MT Bold'">Contact me here! Send me a message,code, or let's chat!</p>
      <button type="button" class="btn btn-primary">
        <a target='_blank' href="https://www.linkedin.com/in/kevin-behlmaier-044401117">LinkedIn</a></button>
      <button type="button" class="btn btn-success">
        <a target='_blank' href="https://github.com/KevinBehlmaier">
          GitHub</a></button>
      <button></button>
    </footer>
  </div>
</div>
</body>
